
		@-ms-viewport {
			width: device-width;
		}

		body {
			-ms-overflow-style: scrollbar;
		}

		@include breakpoint('<=xsmall') {
			html, body {
				min-width: 320px;
			}
		}
		html {
			box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

	html {
		overflow-x: hidden;
	}

	body {
		background: _palette(bg);
		overflow-x: hidden;
		
			&.is-preload {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

	}