@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

	@-ms-viewport {
		width: device-width;
	}



	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}


	html {
		overflow-x: hidden;
	}

	body {
		background: #ffffff;
		overflow-x: hidden;
	}

	html {
		font-size: 18pt;
	}

		@media screen and (max-width: 1920px) {

			html {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 1152px) {

			html {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			html {
				font-size: 11pt;
			}

		}

	body {
		background-color: #ffffff;
		color: #000000;
	}

	body, input, select, textarea {
		color: #000000;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: 0.0375em;
		line-height: 2;
	}




	h1, h2, h3, h4, h5, h6 {
		color: #000000;
		font-family: "Raleway", Helvetica, sans-serif;
		font-weight: 600;
		letter-spacing: 0.175em;
		line-height: 1.75;
		margin: 0 0 1.5rem 0;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

	h1 {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 5rem;
		font-weight: 700;
		letter-spacing: -0.05em;
		line-height: 1.1;
		margin: 0 0 1.5rem 0;
		text-transform: none;
	}

	h2 {
		font-size: 1.25rem;
		font-weight: 800;
		margin: 0 0 2rem 0;
	}

	h3 {
		font-size: 0.875rem;
	}

	h4 {
		font-size: 0.875rem;
	}

	h5 {
		font-size: 0.75rem;
	}

	h6 {
		font-size: 0.625rem;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 4.5rem;
			line-height: 1.1;
		}

		h2 {
			font-size: 1.25rem;
			line-height: 1.7;
		}

		h3 {
			font-size: 0.9rem;
		}

		h4 {
			font-size: 0.75rem;
		}

		h5 {
			font-size: 0.675rem;
		}

	}

	input[type="submit"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		background-color: transparent;
		border-radius: 0.325rem;
		border: 0;
		box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
		color: #000000 !important;
		cursor: pointer;
		display: inline-block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.6rem;
		font-weight: 600;
		height: 3rem;
		letter-spacing: 0.175em;
		line-height: 3rem;
		padding: 0 2rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			box-shadow: inset 0 0 0 2px #2ee4bb;
			color: #2ee4bb !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(73, 252, 212, 0.25);
			box-shadow: inset 0 0 0 2px #2ee4bb;
			color: #2ee4bb !important;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.5rem;
			height: 2.25rem;
			line-height: 2.25rem;
			padding: 0 1.25rem;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 0.7rem;
			height: 3.2625rem;
			line-height: 3.2625rem;
			padding: 0 3.25rem;
		}

		input[type="submit"].wide,
		input[type="reset"].wide,
		input[type="button"].wide,
		button.wide,
		.button.wide {
			min-width: 13rem;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5rem;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #49fcd4;
			box-shadow: none;
			color: #000000 !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: #93ffe7;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			button.primary:active,
			.button.primary:active {
				background-color: #44f2cb;
			}

		@media screen and (max-width: 736px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				font-size: 0.7rem;
				height: 3.3rem;
				line-height: 3.3rem;
			}

				input[type="submit"].large,
				input[type="reset"].large,
				input[type="button"].large,
				button.large,
				.button.large {
					font-size: 0.8rem;
					height: 3.75rem;
					line-height: 3.75rem;
				}

				input[type="submit"].small,
				input[type="reset"].small,
				input[type="button"].small,
				button.small,
				.button.small {
					font-size: 0.6rem;
					height: 3rem;
					line-height: 3rem;
				}

		}

	form {
		margin: 0 0 2rem 0;
	}

		form > :last-child {
			margin-bottom: 0;
		}

		form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: -2rem 0 2rem -2rem;
			width: calc(100% + 4rem);
		}

			form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 2rem 0 0 2rem;
				width: calc(100% - 2rem);
			}

				form > .fields > .field > :last-child {
					margin-bottom: 0;
				}

				form > .fields > .field.half {
					width: calc(50% - 1rem);
				}

				form > .fields > .field.third {
					width: calc(100%/3 - 0.66667rem);
				}

				form > .fields > .field.quarter {
					width: calc(25% - 0.5rem);
				}

		@media screen and (max-width: 480px) {

			form > .fields {
				margin: -1.5rem 0 2rem -1.5rem;
				width: calc(100% + 3rem);
			}

				form > .fields > .field {
					padding: 1.5rem 0 0 1.5rem;
					width: calc(100% - 1.5rem);
				}

					form > .fields > .field.half {
						width: calc(100% - 1.5rem);
					}

					form > .fields > .field.third {
						width: calc(100% - 1.5rem);
					}

					form > .fields > .field.quarter {
						width: calc(100% - 1.5rem);
					}

		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		input[type="search"],
		input[type="url"],
		select,
		textarea {
			-moz-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			appearance: none;
			border-radius: 0.325rem;
			border: solid 2px rgba(144, 144, 144, 0.25);
			color: inherit;
			display: block;
			outline: 0;
			padding: 0 1rem;
			text-decoration: none;
			width: 100%;
		}
	
			input[type="text"]:invalid,
			input[type="password"]:invalid,
			input[type="email"]:invalid,
			input[type="tel"]:invalid,
			input[type="search"]:invalid,
			input[type="url"]:invalid,
			select:invalid,
			textarea:invalid {
				box-shadow: none;
			}
	
			input[type="text"]:focus,
			input[type="password"]:focus,
			input[type="email"]:focus,
			input[type="tel"]:focus,
			input[type="search"]:focus,
			input[type="url"]:focus,
			select:focus,
			textarea:focus {
				border-color: #2ee4bb;
			}
	
		label {
			color: #000000;
			display: block;
			font-family: "Raleway", Helvetica, sans-serif;
			font-size: 0.75rem;
			font-weight: 600;
			letter-spacing: 0.175em;
			line-height: 1.75;
			margin: 0 0 1rem 0;
			text-transform: uppercase;
		}
	
		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		input[type="search"],
		input[type="url"] {
			height: 3rem;
		}
	
	select {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
		background-position: calc(100% - 1rem) center;
		background-repeat: no-repeat;
		background-size: 1.25rem;
		height: 3rem;
		padding-right: 3rem;
		text-overflow: ellipsis;
	}

		select option {
			background-color: #ffffff;
			color: #000000;
		}

		select:focus::-ms-value {
			background-color: transparent;
		}

		select::-ms-expand {
			display: none;
		}

	textarea {
		padding: 0.75rem 1rem;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2rem;
		opacity: 0;
		width: 1rem;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #000000;
			cursor: pointer;
			display: inline-block;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
			font-size: 1rem;
			font-weight: 300;
			letter-spacing: 0.0375em;
			padding-left: 2.675rem;
			padding-right: 0.875rem;
			position: relative;
			text-transform: none;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 0.325rem;
				border: solid 2px rgba(144, 144, 144, 0.25);
				content: '';
				display: inline-block;
				font-size: 0.8rem;
				height: 2.25rem;
				left: 0;
				line-height: 2.25rem;
				position: absolute;
				text-align: center;
				top: -0.15rem;
				width: 2.25rem;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
			background-color: #49fcd4;
			border-color: #49fcd4;
			color: #ffffff;
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #49fcd4;
			box-shadow: 0 0 0 1px #49fcd4;
		}

	input[type="checkbox"] + label:before {
		border-radius: 0.325rem;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
		color: rgba(0, 0, 0, 0.25) !important;
	}

	:-moz-placeholder {
		opacity: 1.0;
		color: rgba(0, 0, 0, 0.25) !important;
	}

	::-moz-placeholder {
		opacity: 1.0;
		color: rgba(0, 0, 0, 0.25) !important;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
		color: rgba(0, 0, 0, 0.25) !important;
	}

	@media screen and (max-width: 736px) {

		label {
			font-size: 0.675rem;
		}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			font-size: 1rem;
		}

	}

	@media screen and (max-width: 360px) {

		label {
			font-size: 0.675rem;
		}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			font-size: 1rem;
		}

	}

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image[data-position] img {
			-moz-object-fit: cover;
			-webkit-object-fit: cover;
			-ms-object-fit: cover;
			object-fit: cover;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.image[data-position="top left"] img {
			-moz-object-position: top left;
			-webkit-object-position: top left;
			-ms-object-position: top left;
			object-position: top left;
		}

		.image[data-position="top"] img {
			-moz-object-position: top;
			-webkit-object-position: top;
			-ms-object-position: top;
			object-position: top;
		}

		.image[data-position="top right"] img {
			-moz-object-position: top right;
			-webkit-object-position: top right;
			-ms-object-position: top right;
			object-position: top right;
		}

		.image[data-position="right"] img {
			-moz-object-position: right;
			-webkit-object-position: right;
			-ms-object-position: right;
			object-position: right;
		}

		.image[data-position="bottom right"] img {
			-moz-object-position: bottom right;
			-webkit-object-position: bottom right;
			-ms-object-position: bottom right;
			object-position: bottom right;
		}

		.image[data-position="bottom"] img {
			-moz-object-position: bottom;
			-webkit-object-position: bottom;
			-ms-object-position: bottom;
			object-position: bottom;
		}

		.image[data-position="bottom left"] img {
			-moz-object-position: bottom left;
			-webkit-object-position: bottom left;
			-ms-object-position: bottom left;
			object-position: bottom left;
		}

		.image[data-position="left"] img {
			-moz-object-position: left;
			-webkit-object-position: left;
			-ms-object-position: left;
			object-position: left;
		}

		.image[data-position="center"] img {
			-moz-object-position: center;
			-webkit-object-position: center;
			-ms-object-position: center;
			object-position: center;
		}

		.image[data-position="25% 25%"] img {
			-moz-object-position: 25% 25%;
			-webkit-object-position: 25% 25%;
			-ms-object-position: 25% 25%;
			object-position: 25% 25%;
		}

		.image[data-position="75% 25%"] img {
			-moz-object-position: 75% 25%;
			-webkit-object-position: 75% 25%;
			-ms-object-position: 75% 25%;
			object-position: 75% 25%;
		}

		.image[data-position="75% 75%"] img {
			-moz-object-position: 75% 75%;
			-webkit-object-position: 75% 75%;
			-ms-object-position: 75% 75%;
			object-position: 75% 75%;
		}

		.image[data-position="25% 75%"] img {
			-moz-object-position: 25% 75%;
			-webkit-object-position: 25% 75%;
			-ms-object-position: 25% 75%;
			object-position: 25% 75%;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 2rem 2rem 0;
			top: 0.25rem;
		}

		.image.right {
			float: right;
			margin: 0 0 2rem 2rem;
			top: 0.25rem;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 3rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

			.image.main:first-child {
				margin-top: 0;
			}

		.image.fill {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

			.image.fill img {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
	ol {
		list-style: decimal;
		margin: 0 0 2rem 0;
		padding-left: 1.25rem;
	}

		ol li {
			padding-left: 0.25rem;
		}

	ul {
		list-style: disc;
		margin: 0 0 2rem 0;
		padding-left: 1rem;
	}

		ul li {
			padding-left: 0.325rem;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt > li {
				border-top: solid 1px rgba(144, 144, 144, 0.25);
				padding: 0.75rem 0;
			}

				ul.alt > li:first-child {
					border-top: 0;
					padding-top: 0;
				}

				ul.alt > li:last-child {
					padding-bottom: 0;
				}

		ul.items {
			list-style: none;
			padding-left: 0;
		}

			ul.items > li {
				padding-left: 0;
				margin: 0 0 3rem 0;
			}

				ul.items > li > h3 {
					margin: 0 0 1rem 0;
				}

				ul.items > li > :last-child {
					margin-bottom: 0;
				}

				ul.items > li:last-child {
					margin-bottom: 0;
				}

		@media screen and (max-width: 736px) {

			ul.items > li {
				margin: 0 0 2rem 0;
			}

		}



	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1rem;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1rem;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3rem 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1rem);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

			ul.icons li .icon {
				-moz-transition: background-color 0.25s ease-in-out;
				-webkit-transition: background-color 0.25s ease-in-out;
				-ms-transition: background-color 0.25s ease-in-out;
				transition: background-color 0.25s ease-in-out;
				width: 2.25rem;
				height: 2.25rem;
				text-align: center;
				line-height: 2.25rem;
				border-radius: 2.25rem;
				display: inline-block;
			}

				ul.icons li .icon:before {
					font-size: 1.25rem;
				}

				ul.icons li .icon:hover {
					background-color: rgba(144, 144, 144, 0.1);
				}

	

	.gallery {
		display: flex;
		flex-wrap: wrap;
		margin: -1.25rem 0 0 -1.25rem;
		width: calc(100% + 1.25rem);
	}

		.gallery a {
			border-bottom: 0;
			display: block;
			margin: 1.25rem 0 0 1.25rem;
			outline: 0;
			position: relative;
			width: calc(50% - 1.25rem);
		}

			.gallery a img {
				display: block;
				height: 25vw;
				min-height: 18rem;
				object-fit: cover;
				object-position: center;
				width: 100%;
			}

			.gallery a.landscape {
				width: 100%;
			}

				.gallery a.landscape img {
					height: 30vw;
				}

			.gallery a.portrait img {
				height: 30vw;
			}

		
	ul.feature-icons {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 3rem 0;
		padding-left: 0;
	}

		ul.feature-icons:first-child {
			margin-top: 0;
		}

		ul.feature-icons li {
			margin: 2.5rem 0 0 0;
			padding: 0.5rem 0 0 4.5rem;
			position: relative;
			width: 50%;
		}

			ul.feature-icons li:before {
				background-position: center;
				color: #000000;
				display: block;
				font-size: 1.25rem;
				height: 3.25rem;
				left: 0;
				line-height: 3.25rem;
				position: absolute;
				text-align: center;
				top: 0;
				width: 3.25rem;
			}

			ul.feature-icons li:nth-child(1), ul.feature-icons li:nth-child(2) {
				margin-top: 0;
			}


	#wrapper {
		position: relative;
		width: 100vw;
		padding: 0 0 10rem 0;
	}

		#wrapper:before {
			background-position: -50% 10%;
			background-repeat: repeat-y;
			background-size: 75% auto;
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 50vw;
			z-index: -1;
		}

		#wrapper section {
			display: grid;
			grid-template-areas: "header content" "footer content";
			grid-template-columns: 50vw 50vw;
			grid-template-rows: 1fr;
		}

			#wrapper section:first-child {
				margin-top: 0;
			}

			#wrapper section > header {
				grid-area: header;
				justify-self: end;
				text-align: right;
			}

				#wrapper section > header h2 {
					margin: 0 0 5rem 0;
				}

				#wrapper section > header h1 + p {
					font-family: "Raleway", Helvetica, sans-serif;
					font-size: 0.8rem;
					letter-spacing: 0.175em;
					line-height: 2.5;
					text-transform: uppercase;
				}

				#wrapper section > header ul.actions {
					justify-content: flex-end;
				}

			#wrapper section > .content {
				grid-area: content;
				max-width: 60rem;
				position: relative;
			}

			#wrapper section > footer {
				grid-area: footer;
				text-align: right;
			}

				#wrapper section > footer ul.actions {
					justify-content: flex-end;
				}

		#wrapper > section {
			position: relative;
		}

			#wrapper > section > header:before {
				background: #43d9b8;
				content: '';
				display: block;
				margin-top: 1rem;
				position: absolute;
				width: 2px;
			}

			#wrapper > section > header h1, #wrapper > section > header h2 {
				position: relative;
			}

				#wrapper > section > header h1:before, #wrapper > section > header h2:before {
					background: #43d9b8;
					content: '';
					display: block;
					height: 2px;
					position: absolute;
					top: 1rem;
				}

				#wrapper > section > header h1:after, #wrapper > section > header h2:after {
					background: #43d9b8;
					border-radius: 0.5rem;
					content: '';
					display: block;
					height: 0.5rem;
					position: absolute;
					top: 0.75rem;
					width: 0.5rem;
				}

			#wrapper > section > header h1 {
				margin-top: -2rem;
			}

				#wrapper > section > header h1:before {
					top: 3rem;
				}

				#wrapper > section > header h1:after {
					top: 2.75rem;
				}

			#wrapper > section > .content > section {
				position: relative;
			}

				#wrapper > section > .content > section:first-child {
					margin-top: 6rem;
				}

			#wrapper > section.intro {
				align-items: center;
			}

				#wrapper > section.intro > header {
					padding-top: 4rem;
					width: 100%;
				}

					#wrapper > section.intro > header > * {
						margin-left: auto;
					}

					#wrapper > section.intro > header:before {
						left: auto;
					}

				#wrapper > section.intro > .content {
					height: 100vh;
					max-width: none;
				}

			#wrapper > section:last-of-type > header:before {
				height: 100%;
			}

			#wrapper > section:last-of-type > header:after {
				border-radius: 0.5rem;
				bottom: -1.5rem;
				display: block;
				height: 0.5rem;
				position: absolute;
				width: 0.5rem;
				z-index: 1;
			}

		#wrapper section {
			margin: 7.5rem 0 0 0;
		}

			#wrapper section > header {
				padding: 0 10rem 0 5rem;
				width: 35rem;
			}

			#wrapper section > .content {
				padding: 0 5rem;
			}

			#wrapper section > footer {
				padding: 0 10rem;
			}

		#wrapper > section > header:before {
			height: calc(100% + 10rem);
			left: calc(50vw - 5rem);
		}

		#wrapper > section > header h1:before, #wrapper > section > header h2:before {
			right: -5rem;
			width: 2.5rem;
		}

		#wrapper > section > header h1:after, #wrapper > section > header h2:after {
			right: -2.5rem;
		}

		#wrapper > section > .content > section {
			left: calc(-50vw - 5rem);
		}

			#wrapper > section > .content > section > header {
				width: 32rem;
			}

		#wrapper > section.intro > header > * {
			width: 20rem;
		}

		#wrapper > section.intro > header:before {
			margin-left: calc(50vw - 10rem);
		}

		@media screen and (max-width: 1152px) {

			#wrapper > section.intro > header > * {
				width: 100%;
			}

			#wrapper > section.intro > header:before {
				margin-left: 0;
			}

		}

		#wrapper > section:last-of-type > header:after {
			left: calc(50vw - 5rem - 0.25rem + 1px);
		}

		#wrapper .copyright {
			padding: 0 5rem;
		}

		@media screen and (max-width: 1280px) {

			#wrapper {
				padding: 0 0 8rem 0;
			}

				#wrapper section {
					margin: 6rem 0 0 0;
				}

					#wrapper section > header {
						padding: 0 8rem 0 4rem;
						width: 33rem;
					}

					#wrapper section > .content {
						padding: 0 4rem;
					}

					#wrapper section > footer {
						padding: 0 8rem;
					}

				#wrapper > section > header:before {
					height: calc(100% + 8rem);
					left: calc(50vw - 4rem);
				}

				#wrapper > section > header h1:before, #wrapper > section > header h2:before {
					right: -4rem;
					width: 2rem;
				}

				#wrapper > section > header h1:after, #wrapper > section > header h2:after {
					right: -2rem;
				}

				#wrapper > section > .content > section {
					left: calc(-50vw - 4rem);
				}

					#wrapper > section > .content > section > header {
						width: 30rem;
					}

				#wrapper > section.intro > header > * {
					width: 21rem;
				}

				#wrapper > section.intro > header:before {
					margin-left: calc(50vw - 8rem);
				}

		}